@use "./modules/" as m;

body {
  font-family: m.font(text);
}

h1,
h2,
h3,
h4 {
  font-family: m.font(title);
}

.navbar {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: m.color(neutral__white);
  position: relative;

  #{&}__brand {
    outline-offset: 0.125rem;
    display: block;

    &:focus,
    &:focus-visible {
      outline: 0.01rem dashed m.color(neutral__very-dark-violet);
    }
  }

  #{&}__links {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;

    @media screen and (width < 65rem) {
      display: none;
    }
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    width: 100%;
    flex-direction: column;
    display: none;

    @media screen and (width < 50rem) {
      & {
        position: absolute;
        display: flex;
        top: 5rem;
        left: 0;
        background-color: m.color(neutral__white);
        z-index: 99;
        height: 0;
        overflow: hidden;
        padding: 0;
        transition: 0.25s ease;
      }
    }
  }

  .mobile-nav__show {
    padding: 1rem;
    height: 16rem;
  }

  #{&}__link {
    @include m.navlink(m.color(neutral__dark-grayish-violet), m.weight(bold));
  }

  .btn-border {
    @include m.button_border(
      m.color(neutral__white),
      m.color(neutral__very-dark-violet),
      m.color(neutral__very-dark-violet),
      m.color(neutral__very-dark-violet),
      m.weight(bold)
    );
  }
}

// HERO
.hero {
  #{&}__cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: m.color(primary__dark-violet);
    gap: 2rem;
    position: relative;
  }

  #{&}__pattern-left {
    position: absolute;
    max-width: 100%;
    bottom: -50%;
    left: 0;
    z-index: 1;

    @media screen and (width < 50rem) {
      & {
        bottom: 4rem;
        z-index: -1;
      }
    }
  }

  #{&}__pattern-right {
    position: absolute;
    top: 7rem;
    right: 0;
    z-index: 0;
  }

  #{&}__cols-text-content {
    padding: 12.5rem calc(12.5rem / 2);
    color: m.color(neutral__white);
    position: relative;

    @media screen and (width < 50rem) {
      & {
        text-align: center;
        padding: 3rem 1.5rem;
        order: 1;
      }
    }
  }

  #{&}__cols-image-content {
    position: relative;
  }

  #{&}__image {
    position: absolute;
    top: 7.5rem;
    right: 5rem;
    object-fit: cover;
    max-width: 100%;

    @media screen and (width < 50rem) {
      position: relative;
      inset: 0;
    }
  }

  .hero__text-content__heading {
    font-size: var(--step-5);
    margin-bottom: 1rem;
    line-height: 1;
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      width: 7.5rem;
      height: 1px;
      background-color: m.color(neutral__white);
      position: absolute;
      top: -4rem;
      left: 0;

      @media screen and (width < 50rem) {
        display: none;
      }
    }
  }

  .hero__text-content-text {
    font-size: var(--step--1);
  }

  .hero__btn {
    @include m.button_border(
      m.color(primary__dark-violet),
      m.color(neutral__white),
      m.color(neutral__white),
      m.color(neutral__white),
      m.weight(bold)
    );
    display: inline-block;
    margin-top: 2rem;
  }
}

// SECTIONS
.section {
  padding: 12.5rem 7.5rem;
  padding-bottom: 3rem;

  @media screen and (width < 50rem) {
    & {
      padding: 6rem 2rem;
    }
  }

  #{&}__heading {
    font-size: var(--step-5);
    position: relative;

    @media screen and (width < 50rem) {
      & {
        font-size: var(--step-4);
        text-align: center;
      }
    }

    &::before {
      content: "";
      width: 7.5rem;
      height: 1px;
      background-color: m.color(primary__dark-violet);
      position: absolute;
      top: -2rem;
      left: 0;

      @media screen and (width < 50rem) {
        & {
          width: 100%;
          top: -1rem;
          scale: 0.5 1;
        }
      }
    }
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;

  #{&}__item {
    padding: 1rem;

    @media screen and (width < 50rem) {
      text-align: center;
    }
  }

  #{&}__item-img {
    max-width: 5rem;
    display: block;
    margin-bottom: 3rem;

    @media screen and (width < 50rem) {
      margin: auto;
    }
  }

  #{&}__item-heading {
    margin-block: 1rem;
    font-size: var(--step-1);
    text-transform: capitalize;
    color: m.color(neutral__very-dark-violet);
  }

  #{&}__item-text {
    color: m.color(neutral__dark-grayish-violet);
    font-size: var(--step--1);
  }
}

// HOW WE WORK
.how-we-work {
  padding: 2rem 7.5rem;
  margin-bottom: 7.5rem;

  #{&}__wrapper {
    background-color: m.color(primary__dark-violet);
    position: relative;
    z-index: 0;

    .how-we-work__bg {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      max-width: 100%;
      z-index: -1;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem 5rem;
  }

  #{&}__heading {
    font-size: var(--step-4);
    line-height: 1;
    color: m.color(neutral__white);
  }
  #{&}__button {
    display: flex;
    justify-content: end;
    align-items: center;

    .btn-border {
      @include m.button_border(
        m.color(primary__dark-violet),
        m.color(neutral__white),
        m.color(neutral__white),
        m.color(neutral__white),
        m.weight(bold)
      );
      transition: 100ms ease;
    }
  }
}

// FOOTER
.footer {
  padding: 3rem;
  background-color: m.color(neutral__white);
  position: relative;
  overflow: hidden;
  z-index: 1;

  #{&}__bg {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    height: auto;
    z-index: -1;
  }

  #{&}__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #{&}__social-icons {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  #{&}__social-icon {
    display: block;
    outline-offset: 0.25rem;

    &:focus {
      outline: 0.125rem dotted m.color(neutral__dark-grayish-violet);
    }
  }
}

.navbar__toggle-btn {
  display: none;
  background-color: transparent;
  border: none;
  outline-offset: 0.125rem;
  cursor: pointer;

  i {
    font-size: 1.5rem;
  }

  &:hover {
    opacity: 0.85;
  }

  &:focus,
  &:focus-visible {
    outline: 0.01rem dashed currentColor;
  }

  @media screen and (width< 50rem) {
    display: block;
  }
}

// MEDIA
@media screen and (width < 50rem) {
  .navbar {
    flex-direction: column;
    gap: 2rem;

    #{&}__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    #{&}__links {
      display: none;
      flex-direction: column;
    }
  }

  .hero {
    #{&}__cols {
      grid-template-columns: 1fr;
    }
  }
  #{&}__image {
    position: relative;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .how-we-work {
    padding: 1rem;

    #{&}__heading {
      font-size: var(--step-2);
    }

    .container {
      grid-template-columns: 1fr;
      gap: 2rem;
      padding: 2rem 1rem;

      .container__heading-wrapper {
        text-align: center;
      }
    }

    #{&}__button {
      justify-content: center;
    }
  }
}
