@mixin navlink($color, $weight) {
  text-decoration: none;
  color: $color;
  font-weight: $weight;
  display: block;
  text-transform: uppercase;
  font-size: var(--step--1);
  outline-offset: 0.25rem;

  &:hover {
    text-decoration: underline 2px;
    opacity: 0.85;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 0.125rem dotted currentColor;
  }
}

@mixin button_border($hoverColor, $color, $bg, $border, $weight) {
  display: block;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  color: $color;
  text-decoration: none;
  font-weight: $weight;
  border: 1px solid $border;
  transition: 50ms ease;
  outline-offset: 0.125rem;

  &:hover {
    color: $hoverColor;
    background-color: $bg;
  }

  &:active {
    scale: 0.985;
  }

  &:focus-visible {
    outline: 0.125rem dotted currentColor;
  }
}

.skip-link {
  text-align: center;
  padding: 1rem;
  border: 0.125rem solid black;
  display: block;
  font-size: var(--step-0);
  font-weight: bold;
  text-decoration: none;
  color: black;
  position: absolute;
  inset: 0;
  width: 20rem;
  height: fit-content;
  margin-inline: auto;
  z-index: 99;
  background-color: white;
  transform: translateY(-100%);
  transition: 100ms ease;

  &:focus,
  &:focus-visible {
    transform: translateY(0);
    text-decoration: underline 0.125rem;
  }
}
